.main,
.introduction {
    padding-top: 60px;
    padding-bottom: 20px;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    overflow-y: auto;
    position: relative;
    z-index: 1;
}

@media (max-width:218px) {
    .main,
    .introduction {
        padding-top: 120px;
    }
}

.main {
    background-image: url('../img/wood-background.jpg');
    background-size: cover;
    position: relative
}

.main img {
    display: block;
    min-width: 100px;
    width: 35%;
    margin: 20px auto 0px auto;
    border: solid 5px white;
}

.main .title {
    font-family: Apple Chancery, cursive;
}

.main .description {
    font-family: Courier, monospace;
}


/* INTRODUCTION */

.introduction {
    background-image: url('../img/black-background.jpg');
    background-size: cover;
}

.intro-base-container {
    height: 100%;
    padding: 10px;
}

.intro-container {
    height: 100%;
    padding: 10px;
    border: 1px rgba(255, 255, 255, 0.158) solid;
    border-radius: 3px;
    font-size: 16pt;
}

.intro-container p {
    text-indent: 30px;
}

.intro-container-title {
    border-bottom: 1px white solid;
    margin-bottom: 25px;
    padding: 5px;
    text-align: center;
    font-size: 24pt
}