.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
    margin: 5px 1px;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    font-size: 15pt;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #3d3d3d;
    border-color: #ffffff49;
    transition-duration: 0.5s;
    cursor: pointer;
}

.btn:hover {
    border-color: #ffffff;
}

.btn-block {
    display: block;
}

.btn-pressed {
    background-color: #272727;
    border-color: #ffffff;
}